.dropdownMenu{
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out 0s;
}

.showDropdownMenu{
    opacity: 1;
    visibility: visible;
}

.catalogArrow{
    transform: rotate(0);
    transition: transform 0.3s ease-in-out 0s;
}

.spinArrow{
    transform: rotate(180deg);
}

.submenu{
    display: none;
}

.showSubmenu{
    display: flex;
}
