@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.categories-btn {
		@apply text-white w-full text-4xl font-bold bg-[radial-gradient(circle,_#000000bd,_transparent_80%)] hover:backdrop-blur-sm;
	}

	.form-inputs {
		@apply border-red-600 bg-transparent border-b pl-6 placeholder-red-600 placeholder:font-bold focus:outline-none w-full;
	}

	.menu-items {
		@apply flex items-center gap-x-1 transition-transform hover:translate-x-2 cursor-pointer;
	}

	.account-options{
		@apply border-2 rounded-md px-4 py-2 text-sm md:text-base border-black hover:bg-black hover:text-white transition-colors;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
