.custom-scrollbar::-webkit-scrollbar {
	width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: black;
	border-radius: 4px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
